/* LEARNIX
Filename:	styles.css
Authors: 	Rachael Bogdany
			Jon Healy
			Lowell Pence
			Shoujing Wu
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Ubuntu');

body {
    font-family: Montserrat;
    font-size: 16px;
}

/*logo*/
#logo {
    position: relative;
    right: -1em;
    top: 1em;
    width: 3em;
}

#h1{
    float: left;
}

#branding {
    position: absolute;
    right: 4em;
}

/* ============= BEGIN GLOBAL NAV CSS =============== */

/* configure spacing around nav */
header {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 80%;
    height: 100px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 13vh;
}

header li {
    float: left;
}

nav {
    position: relative;
    top: 1em;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #f7f7f7;
}

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#toggle{
    display: none;
}

/* ============= END GLOBAL NAV CSS =============== */


/*index page*/
#main_title{
    text-align: left;
    font-size: 3em;
    grid-area: main_title;
    margin-left: 5vw;
    float: left;
}

#overview{
    text-align: left;
    line-height: 1.5em;
    grid-area: overview;
    margin-right: 5vw;
}

#button_nov{grid-area: button_nov;}
#button_int{grid-area: button_int;}
#button_adv{grid-area: button_adv;}

.empty{grid-area: empty; border-right: 3px solid orange;}
.empty2{grid-area: empty2; border-left: 3px solid orange;}
.empty3{grid-area: empty3; height: 3vh;}

.buttons{
    width: 20vw;
    height: 20vh;
    text-align: center;
    margin-bottom: 3%;
}

#button_nov:hover{background-color: rgba(102,175,233,0.6);}
#button_int:hover{background-color: rgba(129,191,176,0.6);}
#button_adv:hover{background-color: rgba(151,192,96,0.6);}

.buttons a{
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.content{
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "empty main_title overview overview empty2"
        "empty empty3 empty3 empty3 empty2"
        "empty button_nov button_int button_adv empty2";
    grid-gap: 15px;
}


/* CSS for quizes */
.container{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


.quiz{
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
}

/*hint message*/
.helpText {
	padding-left: 10%;
	margin-top: 2.5%;
	margin-bottom: 2.5%;
	visibility: hidden;
}

/* The h1 elements on quizes */
.qh1{
    text-align: center;
}

/* The h2 elements on quizes */
.qh2{
    margin-left:8%;
    margin-top: 4%;
	margin-right: 81%;
}

/* The p elements on quizes */
.qP{
    margin-left: 9%;
}

/* The radio button input elements on quizes */
form div > input[type="radio"]{
    margin-left: 11%;
    margin-top: 1%;
}

/* The submit button on quizes */
form > input[type="submit"]{
    margin-left: 11%;
    margin-top: 3%;
    padding: .75%;
    border-radius: 20px;
}


/*tutorial page*/
.topic{
    text-align: center;
    margin-bottom: 3%;
}

.text{
    width: 55vw;
    margin-left: auto;
    margin-right: auto;
}

/*unix navigation structure tree picture*/
#unix_nav_pic{
    width: 50vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

/*highlight command*/
span{
    color: rgb(129,191,176);
}

.wrapper{
    margin-left: 15vw;
    margin-right: 15vw;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
}




/*footer*/
#copyright{text-align: center;}


/* ============= START MEDIA QUERY CSS =============== */

@media only screen and (max-width: 600px) {

    body {
        margin: 0;
    }

    /* adapt logo to mobile */
    #logo {
        position: absolute;
        top: 1.8em;
        right: 2em;
        height: 40px;
        z-index: -100;
    }

    nav {
        text-align: center;
        width: 100%;
        display: none;
        height: 100%;
        position: relative;
        top: 2em;
    }

    .menu a {
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }

    label {
        position: absolute;
        top: 1.1em;
        display: block;
        font-size: 26px;
        z-index: 100;
    }

    /* Show menu */
    #toggle:checked + .menu {
        display: block;
    }

    #toggle:checked + .menu ul {
        display: inline;
    }

    #toggle:checked + .menu li {
        display: inline;
        list-style-type: none;
        float: none;
    }

    .dropdown-content {
        position: inherit;
        width: 100%;
        box-shadow: none;
    }

    .dropdown-content a {
        text-align: center;
    }

    @keyframes slideRight {
        from {
            margin-left: 1em;
        }
        to {
            margin-left: 85vw;
        }
    }

    @keyframes slideLeft {
        from {
            margin-left: 85vw;
        }
        to {
            margin-left: 1em;
        }
    }

    @keyframes fadeOut {
        from {
            opacity: 1.0;
        }
        to {
            opacity: 0;
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1.0;
        }
    }

    .button-activate {
        animation-name: slideRight;
        animation-duration: .7s;
        animation-fill-mode: forwards;
    }

    .button-deactivate {
        animation-name: slideLeft;
        animation-duration: .4s;
        animation-fill-mode: forwards;
    }

    .drawer-background {
        background-color: green;
        display: flex;
        margin: 0;
        padding: 0;
        height: 100vh;
        z-index: -10;
    }

    .fadeIn {
        animation-name: fadeIn;
        animation-duration: .7s;
        animation-fill-mode: forwards;
    }

    .fadeOut {
        animation-name: fadeOut;
        animation-duration: .3s;
        animation-fill-mode: forwards;
    }

    h1 {
        text-align: center;
        font-family: Ubuntu;
        font-size: 1.5em;
        position: relative;
        top: .5em;
        left: .4em
    }

    #branding {
        display: none;
    }

    /*index page*/
    #main_title{
        text-align: center;
        margin: auto;
    }

    #overview{
        text-align: center;
        width: 72vw;
        margin: auto;
        font-size: 13px;
        padding-top: 3%;
        padding-bottom: 3%;
        border-bottom: 3px solid orange;
        border-top: 3px solid orange;
    }

    #button_nov{background-color: rgba(102,175,233,0.6);}
    #button_int{background-color: rgba(129,191,176,0.6);}
    #button_adv{background-color: rgba(151,192,96,0.6);}

    .buttons{
        width: 80vw;
        margin: auto;
        font-size: 1em;
    }

    .empty{display: none;}
    .empty2{display: none;}
    .empty3{display: none;}

    .content{
        grid-template-columns: 1fr;
        grid-template-areas:
            "main_title"
            "overview"
            "button_nov"
            "button_int"
            "button_adv";
    }

    #copyright{padding-top: 3%;}
}

@media only screen and (min-width: 601px) and (max-width: 950px){
    #branding {
        display: none;
    }

    /* ============= END MEDIA QUERY CSS =============== */
}