/* LEARNIX
Filename:	index.php
Authors: 	Rachael Bogdany
Jon Healy
Lowell Pence
Shoujing Wu
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Ubuntu');

body {
    font-family: Montserrat;
    font-size: 16px;
}

/*logo*/
#logo{float: left;}

#logosize{
    width: 30%;
    margin-left: 10vw;
}

/*global nav*/
nav{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 80vw;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 13vh;
}

nav li {
    float: right;
    color: black;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #f7f7f7;
}

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*index page*/
#main_title{
    text-align: left;
    font-size: 3em;
    grid-area: main_title;
    margin-left: 5vw;
    /*    margin:auto;*/
}

#overview{
    text-align: left;
    line-height: 1.5em;
    grid-area: overview;
    margin-right: 5vw;
    /*    margin: auto;*/
}

#button_nov{grid-area: button_nov;}
#button_int{grid-area: button_int;}
#button_adv{grid-area: button_adv;}

.empty{grid-area: empty; border-right: 3px solid orange;}
.empty2{grid-area: empty2; border-left: 3px solid orange;}
.empty3{grid-area: empty3; height: 3vh;}

.buttons{
    width: 20vw;
    height: 20vh;
    text-align: center;
    margin-bottom: 3%;
}

#button_nov:hover{background-color: rgba(102,175,233,0.6);}
#button_int:hover{background-color: rgba(129,191,176,0.6);}
#button_adv:hover{background-color: rgba(151,192,96,0.6);}

.buttons a{
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.content{
    margin-left: 5vw;
    margin-right: 5vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "empty main_title overview overview empty2"
        "empty empty3 empty3 empty3 empty2"
        "empty button_nov button_int button_adv empty2";
    grid-gap: 15px;
}

/*CSS for quizes*/
.helpText {
    float: right;
    padding-right: 35%;
    display: inline;
    visibility: hidden;
}

/* The h1 elements on quizes */
.qh1{
    margin-left: 6%;
}

/* The h2 elements on quizes */
.qh2{
    margin-left:8%;
    margin-top: 4%;
}

/* The p elements on quizes */
.qP{
    margin-left: 9%;
}

/* The radio button input elements on quizes */
input[type="radio"]{
    margin-left: 11%;
    margin-top: 1%;
}

/* The submit button on quizes */
input[type="submit"]{
    margin-left: 11%;
    margin-top: 3%;
    padding: .75%;
    border-radius: 20px;
}

/*footer*/
#copyright{text-align: center;}







@media only screen and (max-width: 500px) {

    /*index page*/
    #main_title{
        text-align: center;
        margin: auto;
        padding-bottom: 3%;
    }

    #overview{
        text-align: center;
        width: 72vw;
        margin: auto;
        font-size: 13px; 
        padding-top: 3%;
        padding-bottom: 3%;
    }

    #button_nov{background-color: rgba(102,175,233,0.6);}
    #button_int{background-color: rgba(129,191,176,0.6);}
    #button_adv{background-color: rgba(151,192,96,0.6);}

    .buttons{
        width: 80vw;
        margin: auto;
        font-size: 1em;
    }

    .empty{display: none;}
    .empty2{display: none;}
    .empty3{display: none;}

    .content{
        grid-template-columns: 1fr;
        grid-template-areas:
            "main_title"
            "button_nov" 
            "button_int" 
            "button_adv"
            "overview";
    }
}

@media only screen and (min-width: 501px) and (max-width: 950px){
}









