/* LEARNIX

Filename:	index.php
Authors: 	Rachael Bogdany
			Jon Healy
			Lowell Pence
			Shoujing Wu
*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Ubuntu');

body {
    font-family: Montserrat;
    font-size: 16px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
    color: black;
}

nav li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: #f7f7f7;
}

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (min-width: 951px){

}

@media only screen and (min-width: 601px) and (max-width: 950px){

}

@media only screen and (max-width: 600px) {

}
